{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">New routine</h4>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
<form action="/ui/add-trigger" method="POST">
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-5">
									<div class="form-group">
										<label for="routine_name">Routine Name</label>
										<input type="text" class="form-control form-control-lg" id="routine_name" name="routine_name" placeholder="Name your routine as you wish" required>
									</div>
									<div class="form-group form-floating-label">
										<select class="form-control input-border-bottom selecttriggertype" id="selectTriggerType" name="trigger_type" required>
											<option value=""></option>
											{% for triggertype in triggertypes %}
											<option>{{ triggertype }}</option>
											{% endfor %}
										</select>
										<label for="selectTriggerType" class="placeholder">Trigger type</label>
									</div>
									<div class="device-selector" id="device-selector">
										<div class="form-group form-floating-label">
											<select class="form-control input-border-bottom selectDevice" id="selectDevice" name="device" required>
												<option value=""></option>
												{% for room in devices %}
													{% for device in room.room_devices %}
														<option value="{{ device.device_id }}">{{ room.room_name }} - {{ device.device_name }}</option>
													{% endfor %}
												{% endfor %}
											</select>
											<label for="selectDevice" class="placeholder">Device</label>
										</div>
										<div class="form-group form-floating-label">
											<select class="form-control input-border-bottom selectEvent" id="selectEvent" name="event" required>
												<option value=""></option>
												{% for event in device_events %}
													<option>{{ event }}</option>
												{% endfor %}
											</select>
											<label for="selectDevice" class="placeholder">Device Event</label>
										</div>
									</div>
									<div class="time-selector">
										<div class="form-group">
											<label class="placeholder">Days of week</label><br/>
											<div class="selectgroup selectgroup-pills">
												<label class="selectgroup-item">
													<input type="checkbox" name="monday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Mon</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="tuesday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Tue</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="wednesday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Wed</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="thursday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Thu</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="friday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Fri</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="saturday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Sat</span>
												</label>
												<label class="selectgroup-item">
													<input type="checkbox" name="sunday" value="1" class="selectgroup-input">
													<span class="selectgroup-button">Sun</span>
												</label>
											</div>
										</div>
										<div class="form-group">
											<label for="selectTime" class="placeholder">Select time</label>
											<input type="time" id="selectTime" name="selectTime" class="form-control selectTime">
										</div>
									</div>
							</div>
						</div>
						<div class="card-action">
							<input type="submit" class="btn btn-success" value="Next: add actions"></input>
							<!-- <button class="btn btn-danger">Cancel</button> -->
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script lang="javascript">
		$('.time-selector').hide();
		$('.device-selector').hide();

		$('.selecttriggertype').change(function(){
			console.log($(this).val())
			if ($(this).val() == 'DeviceEvent'){
				$('.device-selector').show();
				$('.time-selector').hide();
				$('.selectDevice').prop('required', true)
				$('.selectEvent').prop('required', true)
				$('.selectTime').prop('required', false)
			}else{
				$('.device-selector').hide();
				$('.time-selector').show();
				$('.selectDevice').prop('required', false)
				$('.selectEvent').prop('required', false)
				$('.selectTime').prop('required', true)
			}
		});
	</script>
{% endblock javascripts %}	
