{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<ul class="breadcrumbs">
                    Change UI password
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Change UI password</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 col-lg-4">
									{% if message %}
									<div class="card-sub">
										{{ message }}
									</div>
									{% endif %}
                                    <form action="/ui/change-password" method="POST">
										<p>Please specify the <kbd>current</kbd> password for Lexie Smarthome UI:</p>
                                        <p><input type=password name="old_password" size="40" value="" required></input></p>
										<p>Please specify a <kbd>new</kbd> password for Lexie Smarthome UI:</p>
										<p><kbd>Hint:</kbd> Use a password manager to generate and store your password</p>
                                        <p><input type=password name="new_password" size="40" value="" required></input></p>
                                        <input type="submit" class="btn btn-success" value="Change password"></input>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
